<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand navTitulo" routerLink="/">TIJUME GAMES</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active" aria-current="page">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Categorías
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/categoria?id=1">Estrategia</a></li>
                        <li><a class="dropdown-item" routerLink="/categoria?id=2">Party</a></li>
                        <li><a class="dropdown-item" routerLink="/categoria?id=3">Cooperativos</a></li>
                        <li><a class="dropdown-item" routerLink="/categoria?id=4">Temáticos</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/registrarme" routerLinkActive="active">Registrarme</a>
                </li>
            </ul>
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#cartOffcanvas" aria-controls="cartOffcanvas">
                <i class="bi bi-cart"></i>
            </button>
        </div>
    </div>
</nav>