<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Juegos de mesa</h2>
        </div>
    </div>
    <div class="row" id="viewMain">
        <div class="col-sm-12 col-md-4 mb-sm-2">
            <div class="card"><img src="assets/img/img_estrategia.jpeg" class="card-img-top" alt="Estrategia">
                <div class="card-body">
                    <h5 class="card-title">Estrategia</h5>
                    <p class="card-text">Juegos de mesa de estrategia.</p><a href="categoria.html?id=1"
                        class="btn btn-primary">Ver juegos</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-sm-2">
            <div class="card"><img src="assets/img/img_party.jpeg" class="card-img-top" alt="Party">
                <div class="card-body">
                    <h5 class="card-title">Party</h5>
                    <p class="card-text">Juegos de mesa para fiestas.</p><a href="categoria.html?id=2"
                        class="btn btn-primary">Ver juegos</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-sm-2">
            <div class="card"><img src="assets/img/img_cooperativos.jpeg" class="card-img-top" alt="Cooperativos">
                <div class="card-body">
                    <h5 class="card-title">Cooperativos</h5>
                    <p class="card-text">Juegos de mesa cooperativos.</p><a href="categoria.html?id=3"
                        class="btn btn-primary">Ver juegos</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-sm-2">
            <div class="card"><img src="assets/img/img_tematicos.jpeg" class="card-img-top" alt="Temáticos">
                <div class="card-body">
                    <h5 class="card-title">Temáticos</h5>
                    <p class="card-text">Juegos de mesa temáticos.</p><a href="categoria.html?id=4"
                        class="btn btn-primary">Ver juegos</a>
                </div>
            </div>
        </div>
    </div>
</div>