<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Juegos de mesa</h2>
        </div>
    </div>
    <div class="row" id="viewMain">
        <div class="col-sm-12 col-md-4 mb-sm-2" *ngFor="let categoria of categorias">
            <div class="card">
                <img [src]="categoria.img_url" class="card-img-top" [alt]="categoria.nombre">
                <div class="card-body">
                    <h5 class="card-title">{{ categoria.nombre }}</h5>
                    <p class="card-text">{{ categoria.detalle }}</p>
                    <a [routerLink]="['/categoria', categoria.id]" class="btn btn-primary">Ver juegos</a>
                </div>
            </div>
        </div>
    </div>
</div>