<div class="container" *ngIf="categoria">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">{{ categoria.nombre }}</h2>
        </div>
    </div>
    <div class="row" id="viewMain">
        <div class="col-12 mb-2" *ngFor="let juego of categoria.juegos">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4 text-center">
                        <img [src]="'assets/img/' + juego.img_url" [alt]="juego.titulo" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ juego.titulo }}</h5>
                            <p class="card-text">{{ juego.descripcion }}</p>
                            <p class="price">Precio normal: {{ juego.precioNormal }}</p>
                            <p class="discount-price" *ngIf="juego.precioOferta">Precio con descuento: {{ juego.precioOferta }}</p>
                            <button type="button" class="btn btn-primary">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>