<div class="container">
    <div class="row" id="viewMain">
        <div *ngIf="categoriaId === '1'">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center">Juegos estrategia</h2>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 text-center"><img src="assets/img/catan-el-juego.jpg" alt="Imagen"
                                class="img-fluid rounded-start"></div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Catan - El Juego</h5>
                                <p class="card-text">En Catan, los jugadores intentan ser la fuerza dominante en la isla
                                    de
                                    Catan mediante la construcción de asentamientos, ciudades y carreteras. En cada
                                    turno se
                                    tiran los dados para determinar qué recursos produce la isla.</p>
                                <p class="price">Precio normal: $34.990</p><button type="button"
                                    class="btn btn-primary">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 text-center"><img src="assets/img/aventureros-al-tren-san-francisco.jpg"
                                alt="Imagen" class="img-fluid rounded-start"></div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">¡Aventureros al Tren! San Francisco</h5>
                                <p class="card-text">¡Bienvenidos a San Francisco! Puedes sentir el peso de los
                                    souvenirs en
                                    la mochila mientras te asomas desde el tranvía.</p>
                                <p class="price">Precio normal: $25.990</p>
                                <p class="discount-price">Precio con descuento: $19.990</p><button type="button"
                                    class="btn btn-primary">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 text-center"><img src="assets/img/pendulum.jpg" alt="Imagen"
                                class="img-fluid rounded-start"></div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Pendulum</h5>
                                <p class="card-text">Los jugadores deben usar el tiempo real como un recurso y afinar la
                                    estrategia para superar a sus oponentes. Fue el prototipo mejor calificado en la
                                    historia del del Diseño de Stonemaier Games.</p>
                                <p class="price">Precio normal: $59.990</p>
                                <p class="discount-price">Precio con descuento: $50.992</p><button type="button"
                                    class="btn btn-primary">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="categoriaId === '2'">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center">Juegos party</h2>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 text-center"><img src="assets/img/taco-gatito-pizza.jpg" alt="Imagen"
                                class="img-fluid rounded-start"></div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Taco Gatito Pizza</h5>
                                <p class="card-text">Este juego de cartas requiere de toda tu atención y rapidez. ¡Sobre todo
                                    rapidez! La vas a necesitar para no quedarte con todas las cartas del centro de la mesa.</p>
                                <p class="price">Precio normal: $11.990</p><button type="button" class="btn btn-primary">Agregar
                                    al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 text-center"><img src="assets/img/dixit-harmonies.jpg" alt="Imagen"
                                class="img-fluid rounded-start"></div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Dixit: Harmonies</h5>
                                <p class="card-text">Dixit Expansión: Harmonies (Dixit 8) es la octava expansión para el juego
                                    Dixit, incorpora el arte único y poderoso de Paul Echegoye, contiene 84 nuevas cartas para
                                    que pongan a volar la imaginación.</p>
                                <p class="price">Precio normal: $25.000</p>
                                <p class="discount-price">Precio con descuento: $19.990</p><button type="button"
                                    class="btn btn-primary">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 text-center"><img src="assets/img/hula-hula.jpg" alt="Imagen"
                                class="img-fluid rounded-start"></div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">¡Hula-Hula!</h5>
                                <p class="card-text">¡El gran mundial de Hula Hula ha comenzado! Animales de todo el mundo se
                                    han congregado para demostrar sus dotes.</p>
                                <p class="price">Precio normal: $20.000</p>
                                <p class="discount-price">Precio con descuento: $12.990</p><button type="button"
                                    class="btn btn-primary">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="categoriaId === '3'">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center">Juegos cooperativos</h2>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 text-center"><img src="assets/img/exit-kids-acertijos-en-la-jungla-.jpg"
                                alt="Imagen" class="img-fluid rounded-start"></div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Exit Kids: Acertijos en la Jungla</h5>
                                <p class="card-text">EXIT Kids: Acertijos en la jungla es un juego de escape cooperativo, que se
                                    puede disfrutar en solitario o en un grupo de hasta 4 personas, a partir de 5 años, en
                                    partidas que pueden durar unos 20 minutos.</p>
                                <p class="price">Precio normal: $14.990</p><button type="button" class="btn btn-primary">Agregar
                                    al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 text-center"><img src="assets/img/tales-games-aladdin-the-magic-lamp.jpg"
                                alt="Imagen" class="img-fluid rounded-start"></div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Tales &amp; Games: Aladdin &amp; the Magic Lamp</h5>
                                <p class="card-text">El hechicero te ha enviado, un pilluelo de la calle como Aladdin, a una
                                    cueva para buscar una lámpara mágica que te permita invocar los favores de un genio.</p>
                                <p class="price">Precio normal: $30.000</p>
                                <p class="discount-price">Precio con descuento: $24.990</p><button type="button"
                                    class="btn btn-primary">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 text-center"><img src="assets/img/pandemic-estado-de-emergencia.jpg" alt="Imagen"
                                class="img-fluid rounded-start"></div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Pandemic: Estado de Emergencia</h5>
                                <p class="card-text">Salvar el mundo se ha vuelto un poco más difícil en Pandemic: Estado de
                                    Emergencia, una expansión para Pandemic.</p>
                                <p class="price">Precio normal: $39.990</p>
                                <p class="discount-price">Precio con descuento: $33.992</p><button type="button"
                                    class="btn btn-primary">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="categoriaId === '4'">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center">Juegos temáticos</h2>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 text-center"><img src="assets/img/master-of-orion-el-juego-de-mesa.jpg"
                                alt="Imagen" class="img-fluid rounded-start"></div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Master of Orion: El Juego de Mesa</h5>
                                <p class="card-text">Master of Orion: El Juego de Mesa te lleva al mundo del legendario
                                    videojuego de estrategia. Vas a dirigir a una de las razas que se enfrentarán en la
                                    confrontación con el espacio exterior.</p>
                                <p class="price">Precio normal: $19.990</p><button type="button" class="btn btn-primary">Agregar
                                    al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 text-center"><img src="assets/img/dune-a-game-of-conquest-and-diplomacy.jpg"
                                alt="Imagen" class="img-fluid rounded-start"></div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Dune: A Game of Conquest and Diplomacy</h5>
                                <p class="card-text">¡Participa en una de las historias de ciencia ficción más famosas de todos
                                    los tiempos! Control de una de las cuatro grandes facciones: la Casa Atreides, la Casa
                                    Harkonnen, los Fremen y el Imperio.</p>
                                <p class="price">Precio normal: $59.990</p>
                                <p class="discount-price">Precio con descuento: $47.992</p><button type="button"
                                    class="btn btn-primary">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 text-center"><img src="assets/img/rambo-the-board-game-first-blood.jpg"
                                alt="Imagen" class="img-fluid rounded-start"></div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Rambo: The Board Game - First Blood</h5>
                                <p class="card-text">¡Conviértete en Rambo y toma el control de la historia de la película First
                                    Blood! Revive la acción y llénate de nostalgia en este juego de mesa en solitario.</p>
                                <p class="price">Precio normal: $49.990</p>
                                <p class="discount-price">Precio con descuento: $39.992</p><button type="button"
                                    class="btn btn-primary">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>